@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  --DarkGray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--DarkCyan);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
}

/* Contenedor Principal */
.container {
  width: 318px;
  height: 375px;
  border-radius: 15px;
  overflow: hidden;
  margin: 50px auto;
}

/* Sección Top */
.top {
  background-image: url('../images/bg-pattern-card.svg');
  width: 100%;
  height: 140px;
  position: relative;
}

.top__img {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 90px;
  left: 35%;
}


/* Sección Middle */
.middle {
  width: 100%;
  height: 145px;
  padding: 76px 96px 27px;
  background-color: white;

  display: grid;
  grid-template-areas: "name age"
  "city .";
  place-items: center;
  row-gap: 10px;
}


.middle__name {
  font-size: 1em;
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
}

.middle__age {
  font-size: 1em;
  color: var(--DarkGrayishBlue);
}
.middle__city {
  font-size: .8em;
  color: var(--DarkGrayishBlue);
  padding-left: 35px;
}

/* Sección Bottom */

.bottom {
  height: 90px;
  background-color: white;
  border-top: 1px solid hsla(185, 75%, 39%, 0.294);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.bottom__social {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
}

.bottom__social--text{
  font-weight: lighter;
  font-size: .6em;
  letter-spacing: 2px;
  color: var(--DarkGrayishBlue);
}

/* Footer */

.attribution { font-size: 14px; text-align: center; margin-top: 30px; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px){
  .container {
    width: 360px;
  }
}