/* Estilos Generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

/* Contenedor Principal */

.contenedor {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, auto);
}

/* Header */

.header {
  margin: 5rem 1rem;
  text-align: center;
}

.header__titulo {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.header__titulo--none {
  font-size: 1.8rem;

  display: block;
  font-weight: normal;
}

.header__parrafo {
  font-size: 1rem;
}

/* Cards */

.cards {
  border-radius: 8px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 0 rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  max-width: 300px;
  padding: 30px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.cards__titulo {
  margin-bottom: 0.5em;
}
.cards__parrafo {
  margin-bottom: 40px;
  color: rgb(127, 125, 125);
}

.cards__img {
  align-self: flex-end;
}

.cards__supervisor {
  border-top: 2px solid rgb(0, 145, 145);
}

.cards__builder {
  border-top: 2px solid red;
}

.cards__karma {
  border-top: 2px solid orange;
}

.cards__calculator {
  border-top: 2px solid blue;
}

/* Footer */

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "header header"
      "supervisor builder"
      "karma calculator";
    gap: 1rem;
  }

  .cards {
    max-width: max-content;
    padding: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .header {
    grid-area: header;
    margin: 2rem;
  }

  .header__titulo {
    font-size: 1.5rem;
  }

  .header__titulo--none {
    font-size: 1.5rem;
  }
  .header__parrafo {
    font-size: 1rem;
  }

  .cards__builder {
    grid-area: builder;
    align-self: flex-end;
  }

  .cards__calculator {
    grid-area: calculator;
  }

  .cards__supervisor {
    grid-area: supervisor;
  }

  .cards__karma {
    grid-area: karma;
    align-self: flex-start;
  }
}

@media screen and (min-width: 900px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "supervisor builder calculator"
      "supervisor karma calculator";

    margin-bottom: 3rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .header__titulo {
    font-size: 2.5rem;
  }

  .header__titulo--none {
    font-size: 2.5rem;
  }
  .header__parrafo {
    font-size: 1.2rem;
  }
}
