@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very-dark-blue : hsl(217, 54%, 11%); /* (main BG) */
  --Dark-blue-card: hsl(216, 50%, 16%); /* (card BG) */
  --Blue-line : hsl(215, 32%, 27%); /* (line) */
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: var(--Very-dark-blue);
}

/* Contenedor Principal */

.contenedor {
  margin: 60px auto;
  width: 330px;
  height: 545px;
  background-color: var(--Dark-blue-card);
  border-radius: 15px;
  padding: 25px;
}

/* Header */

.header {
  height: 280px;
  width: 280px;
  margin-bottom: 25px;
  background-image: url('../images/image-equilibrium.jpg');
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
}

.header__ojo {
  width: 100%;
  height: 100%;
}

/* Sección Texto */

.texto {
  color: var(--White);
  margin-bottom: 20px;
}

.texto__titulo {
  margin-bottom: 15px;
}

.texto__parrafo {
  color: var(--Soft-blue);
  line-height: 1.4em;
}

/* Sección Información */

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.precio {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.precio__icono{
  width: max-content;
  height: max-content;
}

.precio__descripcion {
  color: var(--Cyan);
}

.tiempo {
  flex-basis: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.tiempo__descripcion { 
  color: var(--Soft-blue);
}

/* Footer Contenedor */

.footer {
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__img {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
}

.footer__creador {
  color: var(--White);
}

.footer__creador--color {
  color: var(--Soft-blue);
} 


/* Footer Body */
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: var(--White); }

@media(min-width: 768px) {

  .header__ojo:hover {
    cursor: pointer;
    background-color: var(--Cyan);
    background-image: url('../images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    
  }


  .texto__titulo:hover {
    cursor: pointer;
    color: var(--Cyan);
  }

  .footer__creador--nombre:hover{
    cursor: pointer;
    color: var(--Cyan);
  }
}