/* ESTILOS GENERALES */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}

body {
  font-size: 15px;
  min-width: 320px;
  max-width: 425px;
  background: linear-gradient(0deg, rgba(168,115,0,1) 37%, rgba(253,187,45,1) 83%, rgba(253,187,45,1) 163%);
}

main {
  max-width: 900px;
  margin: 0 auto;

}

/* HERO */

.hero {
  width: 100vw;
  height: 100vh;
}
.hero__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 50px;
  text-align: center;
}

.hero__info-titulo {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1rem;

}

.hero__info-parrafo {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero__info-boton {
  background-color: #523800;
  border-radius: 20px;
  padding: 8px;
  border: none;
  font-weight: bold;
  font-size: .6rem;
}

.hero__info-boton:active {
  background-color: #856e3e;
}

/* PLATOS */

.plato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px repeat(4, 1fr);
  grid-template-areas: 
  "services services"
  "principal principal"
  "principal principal"
  "item-1 item-2"
  "item-3 item-4";
}

.plato__parrafo {
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  grid-area: services;
}
.plato__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.plato__principal {
  grid-area: principal;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

/* MENU */

.menu {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.menu__titulo {
  text-transform: uppercase;
  font-size: .9rem;
  display: grid;
  place-items: center;
}

.menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

 
@media (min-width: 768px) {

  body {
    max-width: 768px;
    margin: 0 auto;
  }

  /* HERO */

  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
  }

  .hero__info {
    padding: 20px;
    text-align: left;
  }

  .hero__imagen {
  background-image: url('images/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  }

  .hero__info-titulo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: .5rem;
  }

  .hero__info-parrafo {
    font-size: .7rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .hero__info-boton {
    padding: 10px 20px;
    font-size: .4rem;
    place-self: start;
  }

  .hero__info-boton:hover {
    background-color: black;
  }
  

  /* PLATO */

  .plato {
    grid-template-columns: repeat(4, minmax(30px, 150px));
    grid-template-rows: 1fr repeat(2, minmax(30px, 2fr));
    grid-template-areas: 
    "services services services services"
    "principal principal item-1 item-2"
    "principal principal item-3 item-4";
    gap: 10px;
    justify-content: center;

  }
  .plato__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .menu {
    grid-template-columns: repeat(5, minmax(20px, 120px));
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "titulo titulo titulo titulo titulo"
    "plato-1 plato-2 plato-3 plato-4 plato-5";
    justify-content: center;
    row-gap: 20px;
  }

  .menu__titulo {
    grid-area: titulo;
  }

  .plato-1 {
    grid-area: plato-1;
  }
  .plato-2 {
    grid-area: plato-2;
  }
  .plato-3 {
    grid-area: plato-3;
  }

  .plato-4 {
    grid-area: plato-4;
  }

  .plato-5 {
    grid-area: plato-5;
  }
}