/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}


/* Contenedor Principal */
.container {
  max-width: 375px;
  margin: 50px auto;
  padding: 20px;
}

.container__logo {
  width: 80px;
  margin: 50px auto;
  display: block;
}

.container__title {
  font-size: 1.8em;
  font-weight: 300;
  color: var(--Gray);
  margin-bottom: 1rem;
  text-align: center;
}

.container__title--bold {
  font-weight: bold;
  color: black;
}

.container__paragraph {
  text-align: center;
  color: var(--Very-Dark-Blue);
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 2.5em;
}

/* Formulario */

.email__input {
  width: 100%;
  border: 1.5px solid var(--Pale-Blue);
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
}
.email__input::placeholder {
  color: var(--Gray);
  font-weight: 600;
}
.email__input:focus {
  outline: none;
}

.email__paragraph {
  color: var(--Light-Red);
  font-style: italic;
  text-align: center;
  font: .5em;
  visibility: hidden;
}

.input__button {
  background-color: var(--Blue);
  color: white;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.container__img {
  width: 100%;
  margin-bottom: 100px;
}

/* Iconos */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--Pale-Blue);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  fill: var(--Blue);
}

.icon:hover {
  fill: white;
  background-color: var(--Blue);
}

.copy {
  text-align: center;
  color: var(--Gray);
  font-size: .9em;
}

/* Footer */
.footer {
  margin-bottom: 20px;
}
.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* DESKTOP */

@media(min-width: 720px) {
  .container {
    max-width: 700px;
    padding: 50px;
  }
  .container__logo {
    width: 100px;
    margin-bottom: 60px;
  }

  .container__title {
    font-size: 3em;
  }
  .container__paragraph {
    font-size: 1.5em;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .email {
    flex-basis: 70%;
  }
  .email__input {
    padding: 15px;
  }
  .email__paragraph {
    text-align: left;
  
    padding-left: 20px;
    
  }
  .input {
    flex-basis: 25%;
  }
  .input__button {
    padding: 15px;
  }
}